boto3
botocore
certifi
chardet
click
docutils
falcon
idna
jmespath
joblib
nltk
numpy
python-dateutil
regex
requests
s3transfer
sacremoses
scikit-learn
scipy
sentence-transformers
sentencepiece
six
torch
tqdm
transformers
urllib3
